/*
532e17    brown
*/
@font-face {
    font-family: Modern20;
    src: url(../fonts/modern-no-20.ttf);
}
body {
/*    font-family: 'Playfair Display', serif;*/
    font-family: 'Modern20', serif;
    padding-bottom: 20px;
}
p, label, select {
/*    font-family: 'Roboto Slab', serif;*/
    font-family: 'Droid Sans', sans-serif;
}
h1 {
    font-size: 1.6em;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2 {
    font-size: 1.3em;
    margin: 8px 0;
    text-transform: uppercase;
}
h3 {
    margin: 6px 0;
}
h4 {
    margin: 6px 0;
}
ul {
    list-style-type: none;
}
a:link, a:visited {
    color: #000;
}
a:hover, a:active {
    color: #ff7000;
    text-decoration: none;
}
a.active {
    color: #ff7000;
}
.page h1 > a:hover {
    color: #000;
}
.button {
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 3px 22px;
    border: 1px solid #888;
    border-radius: 4px;
    cursor: pointer;

    background: -webkit-linear-gradient(#fff, #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ddd); /* Standard syntax */
}
.button:active {
    border: 1px solid #555;
    background: -webkit-linear-gradient(#ddd, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #fff); /* Standard syntax */
}



/**********************
  Boxes
 **********************/
.boxes {
    margin-bottom: 30px;
    border-bottom: 1px solid #aaa;
}
.boxes.last {
    border-bottom: 0px;
}
.box {
    margin: 20px 0;
}
.box img {
    width: 100%;
    height: auto;
}
.box .box-heading {
    font-size: 1.1em;
    font-weight: bold;
}
.box p {
    margin: 0;
}


/***************************
 Header
****************************/
header img {
    height: 32px;
    float: left;
    margin-top: 7px;
    margin-left: -20px;
}


/***************************
  Main Navigation
****************************/
.slicknav_menu {
    display: none;
    background: #fff;
    xfloat: right;
}
.slicknav_nav a {
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
}
header nav {
    float: right;
    margin-top: 14px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    
}
header nav li {
    position: relative;/*help position .subnav*/
    display: inline;
    margin-left: 10px;
}
header nav .subnav {
    display: none;
    padding-top: 6px;
}
header nav li:hover .subnav {
    display: block;
    position: absolute;
    top: 8px;
    left: -58px;
}
header nav .subnav li {
    display: block;
    float: none;
    background: rgba(255,255,255, 0.85);
    border-radius: 3px;
    padding: 4px 4px 2px 14px;
    min-height: 6px;
    width: 145px;
    z-index: 4;
}


/**********************
  Carousel
 **********************/
#carousel {
    margin-top: 20px;
}
.slider {
    position: relative;
}
.slider .slider-item img {
    width: 100%;
    height: auto;
    background: #eee;
    box-shadow: 6px 6px 6px #888, 
                12px 12px 18px #aaa;
}
.slider-text {
    font-size: 0.9em;
    color: #fff;
    width: 600px;
    height: 120px;
    padding: 0 0 10px 20px;
    position: absolute;
    bottom: 0px;
}
.slider .slider-item div p {
}
.slider .heading-text {
    font-size: 1.5em;
    margin-bottom: 0;
}


/**********************
  Home Page
 **********************/
x#info-boxes {
/*    margin-bottom: 30px;*/
}
x.info-box {
/*    position: relative;*/
    text-align: center;
}
/*
.info-box .info-box-image {
    position: absolute;
        top: -110px;
        left: 2px;
    z-index: -1
}
*/
/*
.info-box .fa {
    font-size: 6em;
    color: #555;
}
#info-boxes .info-box .box-heading {
    margin: 10px 0 0px 0;
    font-family: Modern20, serif;
    font-size: 3em;
    color: #333;
}

#info-boxes .info-box p {
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 24px;
}
.info-box .button-link {
    display: inline-block;
    font-size: 1.6em;
    background: #fff;
    width: 150px;
    margin-top: 20px;
    padding: 3px 12px;
    border: 1px solid #888;
    border-radius: 8px;
}
.info-box a {
    text-align: center;
}
.info-box a:hover {
    font-weight: bold;
    background: #e3e3e3;
    border: 1px solid #222;
}
.info-box-button-icon {
    position: absolute;
        bottom: 3px;
        right: 20px;
}
*/


/**********************
  Art Shows
 **********************/
#artshows section:not(:nth-of-type(2)) h3 {
    text-transform: uppercase;
}

#artshows a > .box > img {
    opacity: 0.9;
}
#artshows .box img:hover {
    opacity: 1;
}
#artshows h4 {
    margin-bottom: 0;
}


/**********************
  Past Shows
 **********************/
/*override jquery ui accordion*/
#past-shows h3 {
    color: #333;
    font-family: modern20, serif;
    font-size: 1.3em;
    margin: 8px 0;
    text-transform: uppercase;
}
#past-shows h3:hover {
    color: #ff7000;
}
#past-shows h3:focus {
    outline: 0px solid;
    color: #ff7000;
}
.ui-state-default {
    border: 0px solid;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #fff;
}
.ui-widget-content {
    background: #fff;
    border: 0px solid;
}


/**********************
  Classes
 **********************/
#classes .box img {
    width: 100%;
}

/**********************
  About
 **********************/
#about section img {
    text-align: center;
    width: 80%;
    height: auto;
}

/**********************
  Donate / Volunteer
 **********************/
.donate-image {
    width: 100%;
}
.donate-text > p:last-child {
    text-align: center;
    margin-bottom: 40px;

}

#donate .volunteer {
    text-align: center;
}
/**********************
  Forms
 **********************/
label {
    float: left;
    width: 8em;
    text-align: right;
}
input, select {
    margin-left: 1em;
    margin-bottom: 0.5em;
}
input[type=checkbox] {
    margin-left: 0;
    float: left;
}
input[type=checkbox] + label {
    float: none;
    margin-left: 1em;
    margin-bottom: 0.5em;
}
select {
    width: 10.8em;
    height: 2em;
}
.credit-card-logo {
    width: 50px;
    height: 30px;
}
/**********************
  Footer
 **********************/
footer {
    margin-top: 30px;
}
footer > div:first-child > div {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
}
footer .footer-heading {
    display: none;
    text-transform: uppercase;
    border-bottom: 1px solid #aaa;
}
footer p {
    margin: 8px;
/*    font-size: 0.8em;*/
    line-height: 1.2em;
    font-weight: bold;
}
footer #social-icons {
    font-size: 1.3em;
    color: #333;
    margin-top: 0;
}

/*
.fa-facebook-square {color: #00f;}
.fa-twitter-square {color: #0b67fa;}
.fa-google-plus-square {color: #b00;}
.fa-youtube-square {color: #b00;}
.fa-instagram {color: #2323ff;}
*/

/* Line up last line of footer text with the bottom of social-icons
   and the subscribe form */
footer > div:nth-child(3) p:nth-child(2):not(#social-icons) {
    padding-top: 6px;
}

footer form {
    margin: 8px;
}
footer form input {
/*    font-size: 0.8em;*/
}
#subscribe-thankyou {
    display: none;
}
#subscribe-form {
    font-size: 0.8em;
    margin-bottom: 0;
    position: relative;
}
#subscribe-form .field {
    border-bottom: 1px solid #656565;
}
#subscribe-form input {
    border: 1px solid #fff;
    width: 150px;
    line-height: 1.8em;
}
#subscribe-form input:focus {
    outline: 0px;
}
#subscribe-form button {
    background: #fff;
    border: 0 solid;
    position: absolute;
    bottom: 1px;
    right: 0px;
}


/**********************
  Other
 **********************/
hr {
    margin: 0;
}
.divider {
    border-bottom: 1px solid #000;
}
.heading-divider {
    border-bottom: 1px solid #ccc;
}
/*
.indent {
    margin-left: 43px;
}
*/
.center {
    text-align: center;
}
.show-heading:hover > h2,
.show-heading:hover > h3 {
    color: #ff7000;
    cursor: pointer;
}

.show-images {
    
}
.open {
    height: 538px;
    overflow: visible;
}
.closed {
    height: 0px;
    overflow: hidden;
}
.arrow-right {
    display: inline-block;
    width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 12px solid #444;
}
.arrow-down {
    display: inline-block;
    width: 0px; 
	height: 0; 
	border-top: 12px solid #444;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}


/***************************
  Media Queries
****************************/
@media (max-width: 480px) {
    .hidden-xsm,
    #about section img,
    #contact section img {
        display: none;
    }
    
}

@media (max-width: 768px) {
    
    header img {
        margin-top: -8px;
    }
    .info-box {
        margin-bottom: 30px;
        border-top: 1px solid #aaa;
    }
    footer {
        text-align: center;
    }
    footer .footer-heading {
        display: block;
        font-size: 1em;
        font-weight: bold;
        margin-top: 28px;
    }
    footer .footer-heading-lg {
        display: none;
    }
    #subscribe-form {
        display: none;
    }
    #social-icons {
        border-top: 1px solid #aaa;
        padding-top: 18px;
    }
}
@media (min-width: 768px) {
    
    
}
@media (max-width: 992px) {
    .hidden-sm {
        display: none;
    }
	#menu {
		display:none;
	}
	.slicknav_menu {
		display:block;
	}
}
@media (min-width: 992px) {
  
}